In [62]:
import numpy as np
import pandas as pd

In [63]:
df = pd.read_csv('mrc_table2.csv')
df.head()

,super_opeid,name,type,tier,tier_name,iclevel,region,state,cz,czname,...,ktop1pc_cond_parq3,ktop1pc_cond_parq4,ktop1pc_cond_parq5,k_married_cond_parq1,k_married_cond_parq2,k_married_cond_parq3,k_married_cond_parq4,k_married_cond_parq5,shareimputed,imputed
0,30955,ASA Institute Of Business & Computer Technology,3.0,11,Two-year for-profit,2.0,1.0,NY,19400.0,New York,...,0.000695,0.002436,0.004147,0.148721,0.206470,0.192924,0.248386,0.292232,0.752727,1.0
1,3537,Abilene Christian University,2.0,6,Selective private,1.0,3.0,TX,32501.0,Abilene,...,0.017192,0.016095,0.043093,0.646505,0.659531,0.681037,0.730971,0.734346,0.000000,0.0
2,1541,Abraham Baldwin Agricultural College,1.0,7,Nonselective four-year public,1.0,3.0,GA,8503.0,Valdosta,...,0.002044,0.003664,0.013582,0.430635,0.496389,0.586084,0.697399,0.632628,0.000000,0.0
3,7531,Academy Of Art University,3.0,10,Four-year for-profit,1.0,4.0,CA,37800.0,San Francisco,...,0.003752,0.003042,0.025226,0.261822,0.294878,0.328916,0.374585,0.371681,0.000000,0.0
4,1345,Adams State University,1.0,5,Selective public,1.0,4.0,CO,34805.0,Alamosa,...,0.006516,0.003083,0.019142,0.489720,0.569590,0.565776,0.587638,0.607286,0.000000,0.0

In [64]:
df.columns

Index(['super_opeid', 'name', 'type', 'tier', 'tier_name', 'iclevel', 'region',
       'state', 'cz', 'czname', 'cfips', 'county', 'multi', 'count', 'female',
       'k_married', 'mr_kq5_pq1', 'mr_ktop1_pq1', 'par_mean', 'par_median',
       'par_rank', 'par_q1', 'par_q2', 'par_q3', 'par_q4', 'par_q5',
       'par_top10pc', 'par_top5pc', 'par_top1pc', 'par_toppt1pc', 'k_rank',
       'k_mean', 'k_median', 'k_median_nozero', 'k_0inc', 'k_q1', 'k_q2',
       'k_q3', 'k_q4', 'k_q5', 'k_top10pc', 'k_top5pc', 'k_top1pc',
       'k_rank_cond_parq1', 'k_rank_cond_parq2', 'k_rank_cond_parq3',
       'k_rank_cond_parq4', 'k_rank_cond_parq5', 'kq1_cond_parq1',
       'kq2_cond_parq1', 'kq3_cond_parq1', 'kq4_cond_parq1', 'kq5_cond_parq1',
       'kq1_cond_parq2', 'kq2_cond_parq2', 'kq3_cond_parq2', 'kq4_cond_parq2',
       'kq5_cond_parq2', 'kq1_cond_parq3', 'kq2_cond_parq3', 'kq3_cond_parq3',
       'kq4_cond_parq3', 'kq5_cond_parq3', 'kq1_cond_parq4', 'kq2_cond_parq4',
       'kq3_cond_parq4', 'kq4_cond_parq4', 'kq5_cond_parq4', 'kq1_cond_parq5',
       'kq2_cond_parq5', 'kq3_cond_parq5', 'kq4_cond_parq5', 'kq5_cond_parq5',
       'ktop1pc_cond_parq1', 'ktop1pc_cond_parq2', 'ktop1pc_cond_parq3',
       'ktop1pc_cond_parq4', 'ktop1pc_cond_parq5', 'k_married_cond_parq1',
       'k_married_cond_parq2', 'k_married_cond_parq3', 'k_married_cond_parq4',
       'k_married_cond_parq5', 'shareimputed', 'imputed'],
      dtype='object')

In [3]:
#calculate mobility for each quintile as 5*q1+4*q2+3*q3+2*q2+1*q1

In [65]:
q1 = 157700
q2 = 84600
q3 = 49700
q4 = 27800
q5 = 12100

In [66]:
df['mr_q0'] = (q1-q3)*df['k_q1']+(q2-q3)*df['k_q2']+0*df['k_q3']+(q4-q3)*df['k_q4']+(q5-q3)*df['k_q5']
df['mr_q1'] = 0*df['kq1_cond_parq1']+(q2-q1)*df['kq2_cond_parq1']+(q3-q1)*df['kq3_cond_parq1']+(q4-q1)*df['kq4_cond_parq1']+(q5-q1)*df['kq5_cond_parq1']
df['mr_q2'] = (q1-q2)*df['kq1_cond_parq2']+0*df['kq2_cond_parq2']+(q3-q2)*df['kq3_cond_parq2']+(q4-q2)*df['kq4_cond_parq2']+(q5-q2)*df['kq5_cond_parq2']
df['mr_q3'] = (q1-q3)*df['kq1_cond_parq3']+(q2-q3)*df['kq2_cond_parq3']+0*df['kq3_cond_parq3']+(q4-q3)*df['kq4_cond_parq3']+(q5-q3)*df['kq5_cond_parq3']
df['mr_q4'] = (q1-q4)*df['kq1_cond_parq4']+(q2-q4)*df['kq2_cond_parq4']+(q3-q4)*df['kq3_cond_parq4']+0*df['kq4_cond_parq4']+(q5-q4)*df['kq5_cond_parq4']
df['mr_q5'] = (q1-q5)*df['kq1_cond_parq5']+(q2-q5)*df['kq2_cond_parq5']+(q3-q5)*df['kq3_cond_parq5']+(q4-q5)*df['kq4_cond_parq5']+0*df['kq5_cond_parq5']

In [68]:
df = df[['super_opeid','mr_q0','mr_q1','mr_q2','mr_q3','mr_q4','mr_q5']]

In [69]:
df.head()

,super_opeid,mr_q0,mr_q1,mr_q2,mr_q3,mr_q4,mr_q5
0,30955,21645.277711,-82710.360946,-15252.511259,20617.420397,35463.723690,46526.515768
1,3537,2816.608747,-110194.478785,-24683.712395,7179.398979,24743.048977,37572.592988
2,1541,7036.831381,-88270.439618,-24956.216154,4752.482616,23474.134635,41079.609155
3,7531,15706.857736,-82908.698862,-17799.595909,16620.617433,36545.106961,50824.766661
4,1345,5030.570251,-93860.606222,-27012.423973,2796.628093,26110.754030,37298.758747

In [71]:
df.max()

super_opeid    41519.000000
mr_q0          43573.661553
mr_q1         -38272.723541
mr_q2          13943.284360
mr_q3          51081.180886
mr_q4          84911.863964
mr_q5          94422.138930
dtype: float64

In [72]:
df.min()

super_opeid       -99.000000
mr_q0          -29279.424686
mr_q1         -139997.172009
mr_q2          -61304.104595
mr_q3          -28608.139242
mr_q4           -9311.490661
mr_q5            8478.992852
dtype: float64

In [70]:
df.shape

(2202, 7)

In [73]:
df = df.to_csv('college_mobility2.csv')